  </main>
  <footer class="footer">
    <p>TuneTrail &copy; <%= new Date().getFullYear() %> &mdash; Powered by <a href="https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/iTuneSearchAPI/" target="_blank">iTunes Search API</a> &amp; <a href="https://musicbrainz.org/doc/MusicBrainz_API" target="_blank">MusicBrainz API</a></p>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
